* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
	height: 100vh;
	background: linear-gradient(to bottom, #7abcff 0%,#00cdd7 46%,#21d789 100%);
	background-size: cover;
	display: flex;
}

img {
	display: block;
	max-width: 50%;
	max-height: 50%;
}

.cards {
	margin: auto;
	padding: 1%;
	min-width: 300px;
	max-width: 640px;
	width: 100%;
	height: 640px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	perspective: 1000px;
}

.card {
	position: relative;
	width: calc(25% - 10px);
	height: calc(33.333% - 10px);
	border-radius: 5px;
	margin: 5px;
	transform-style: preserve-3d;
	transition: hover	.2s;
	transition: transform	.6s;
	&:active {
		transform: scale(.97);
	}
	&:hover {
		transition: transform	.2s;
		box-shadow: indigo 0 0 20px 2px;
	}

	&__back, &__front {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border-radius: 5px;
		backface-visibility: hidden;
		background: linear-gradient(135deg, #390383 0%,#8256f6 0%,#0d79f7 100%);
	}
	&__front {

	}
	&__back {
		display: flex;
		justify-content: center;
		align-items: center;
		transform: rotateY(180deg);
	}
}
.card.flip {
	transform: rotateY(180deg);
}

@media screen and (max-width: 640px) {
	.cards {
		width: 400px;
		height: 400px;
	}
}